@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  background-color: #F5F4EE;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0%, 100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s linear infinite;
}

.font-doto {
  font-family: 'Doto', sans-serif;
}

.font-playfair {
  font-family: 'Playfair', serif;
} 

.mono {
  font-family: var(--font-altform), sans-serif;
}

.serif {
  font-family: var(--font-altform), sans-serif;
}